
#animation {

    position: absolute;

}

#display {
    display: flex;
    justify-content: space-around;
}

.time-block {

}

.time-unit {
    color: rgb(200,0,0);
    background-color: Highlight;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-marker {
    background-color: darkred;
    color: Aliceblue;
    text-align: center;
}


