BODY {
    perspective: 1000px;
    perspective-origin: center -5em;
}

.side,
.container {
    width: 10em;
    height: 10em;
}

.container {
    border: 2px dotted silver;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}

    .container:before,
    .container:after {
        content: "";
        display: block;
        position: absolute;
        width: 10em;
        height: 10em;
        border: 2px dotted white;
    }

    .container:before {
        transform: rotateX(90deg);
    }

    .container:after {
        transform: rotateY(90deg);
    }


.side {
    position: absolute;
    width: 10em;
    height: 10em;
    border: 1px solid orange;
    opacity: .7;
}

.back {
    transform: translateZ(-5em);
    background: orange;
}

.left {
    transform: translateX(-5em) rotateY(90deg);
    background: lightgreen;
}

.right {
    transform: translateX(5em) rotateY(90deg);
    background: yellowgreen;
}

.top {
    transform: translateY(-5em) rotateX(90deg);
    background: skyblue;
}

.bottom {
    transform: translateY(5em) rotateX(90deg);
    background: steelblue;
}
.front {
    perspective: 1000px;
    transform: translateZ(5em);
    background: gold;
}

@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}

HTML, BODY {
    height: 100%;
}

BODY {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
}*/

#animation {
    width: 2em;
    height: 1em;
    position: absolute;
    background: red;
    color:yellow;
}
